.container {
  font-family: "Noto Sans TC";
  border-left: 1px solid #E6ECF0;
  border: 1px solid #E6ECF0;
  width: 44.37vw;
  
}
.profile-title {
  top: 0;
  background-color: var(--color-white);
  opacity: 0.9;
  z-index: 2;
  width: 100%;
  position: fixed;
  width: 44vw;

  @media screen and (max-width: 1200px) {
    width: 432px;
    
  }
  
}

