// .layout-container {
//   display: grid;
//   grid-template-columns: minmax(228px, 2.33fr) minmax(438px, 5.657fr) minmax(293.47px, 4.011fr);
//   grid-auto-rows: 100vh;
//   margin: 0 auto;
 
//   @media screen and (min-width: 992px) {
//      width: 960px;
//     }
//   @media screen and (min-width: 1200px) {
//         width: 1400px;
//       } 
//   }


.layout-container {
  margin-left:1.5%;
  display: grid;
  grid-template-columns: 308px 639px 403px;
  grid-gap: 24px; /* optional, adds spacing between columns */
}

.column-1 {
  /* styles for column 1 */
  
}

.column-2 {
  /* styles for column 2 */
  
}

.column-3 {
  /* styles for column 3 */
   
}