.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 332px 1067px;
}

.column-1 {
  // background-color: red;
  // color: white;
}

.column-2 {
  // background-color: blue;
  // color: white;
}