
.container {
  border: 1px solid #e6ecf0;
  width: 44.5vw;
  height: 100%;
}

.title {
  line-height: 26px;
  margin: 24px 0 24px 24px;
  font-weight: 700;
}

.auth-form {
  padding: 24px 24px 0 24px;
  border-top: 1px solid #e6ecf0;
}

.authinput-group {
  width: 100%;
}

.save-button {
  width: 14.8%;
  float: right;
}

