.container {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans TC";
  border: 1px solid #E6ECF0;
  height: 100vh;
  width: 44.5vw;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  margin-left:3vw;
}

.page-title {
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  padding: 24px;
  background-color: var(--color-white);
  opacity: 0.9;
  cursor: pointer;
}



