.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin-right: 24px;
  font-family: "Noto Sans TC";
  position: fixed;
}
.navbar-logo {
  margin: 13px;
  width: 40px;
  height: 40px;
}
.navbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-dark-black);

  .navbar-link__logo-active,
  .navbar-link__logo {
    width: 24px;
    height: 24px;
  }

  .navbar-link__logo-active {
    display: none;
  }

  &.router-link-active {
    color: var(--logo-color);
    .navbar-link__logo {
      display: none;
    }
    .navbar-link__logo-active {
      display: block;
    }
  }
  &:hover {
    background-color: var(--color-light-sliver);
    border-radius: 5px;
  }

  &__title {
    margin-left: 16.9px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
}

.tweet-btn {
  cursor: pointer;
}
.logout-btn {
  position: relative;
  // margin-left: 19px;
  // margin-bottom: 16px;
  margin-top: auto;
  margin-bottom: 16px;
}

.remove-btn {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 4px 0;
  text-decoration: none;
  font-size: inherit;
  display: block;
  
}

.modal-bg{
  margin-left: -90px;
  background-color: rgba($color: #000000, $alpha: 0.8);
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.modal-container{
  width: 45%;
  height: 300px;
  border-radius: 14px;
  background-color: #FFFFFF;
  position: relative;
  top: 56px;
  left: 300px;
  z-index: 200;
}
