.container {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans TC";
  border: 1px solid #E6ECF0;
  height: 100vh;
  width: 44.5vw;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  
}
.page-title-box{
  margin: 24px;
  display: flex;
  align-items: center;
  
}
.page-title-arrow{
 margin-left: 4px;
 cursor: pointer;
}
.page-title {
  margin-left: 19px;
  // width: 100%;
  font-size: 24px;
  // line-height: 26px;
  font-weight: 700;
  background-color: var(--color-white);
  opacity: 0.9;
 
}



